h1 {
    font-family: 'Berkshire Swash', cursive;
    text-align: center;
}
p, ul, ol {
    text-align: center;
    font-family: 'Arimo', sans-serif;
}   
.lemon {
    margin:auto;
    display:block;
}
body {
    background-color: #FDFD96;
}
.return {
    text-decoration: none;
    display:block;
    text-align: center;
    font-family: 'Arimo', sans-serif;
    color:black;
}
a:hover{
    text-shadow: 2px 2px 5px grey;}